*{ 
    background-color: black; 
    color: #D4AF37;
} 

label{ 
    font-size: 18px;
}

.container{ 
     text-align: center; 
     margin-top: 200px;
} 

input{ 
    border-color: rgb(208, 255, 0); 
    box-shadow: 0px 5px 10px rgb(255, 230, 0); 
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px; 
} 

.button{ 
    background-color:red;
    box-shadow: 0px 5px 10px rgb(255, 51, 0); 
    color: #fffff; 
    height: auto; 
    width: 200px; 
    border: none; 
    padding: 10px; 
    border-radius: 10px;
}